// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

/**
 * Place your custom styles here.
 */

/*=======================================
=            Global Styles            =
=======================================*/

header.navbar-inverse.navbar {
    background: #323232;
    margin-bottom: 0px;
    padding: 0 139px;
}


.main-container {
    max-width: 834px;
    padding: 0;
}
/*=====  End of Global Styles  ======*/


/*=======================================
=            Homepage Styles            =
=======================================*/

.hero-container {
    width: 100%;
}

/*=====  End of Homepage Styles  ======*/


/*====================================
=            Journal View            =
====================================*/
.view-journal {
    .views-row {
        width: 48.5%;
        img {
            width: 100%;
        }

        margin-bottom: 12px;

        &.default {
            width: 48.5%;
        }

        &.wide {
            width: 100%;
        }

        &.tall {
            width: 48.5%;
            // height: 600px;
        }
    }

}
    .grid-sizer {
        width: 48.5%;
    }

    .gutter-sizer {
        width: 1.5%;
    }


/*=====  End of Journal View  ======*/


/*==========================================
=            Homepage Slideshow            =
==========================================*/

.view-homepage-banner {
    .views-row {
        position: relative;
    }

    .views-field-title {
        position: absolute;
        width: 100%;
        text-align: center;
        padding-top: 100px;

        span.field-content {
            display: block;
            width: 320px;
            margin: 0 auto;

            a {
                color: #FFF;
                font-size: 60px;
            }
        }
    }

    img {
        margin: 0 auto;
        width: 100%;
    }
}

/*=====  End of Homepage Slideshow  ======*/


/*=====================================
=            Taxonomy menu            =
=====================================*/
#block-menu-block-1 {
    max-width: 834px;
    margin: 0 auto;
    padding: 0;
}

.menu-name-menu-page-types ul {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    li {
        display: inline-block;
    }
}

/*=====  End of Taxonomy menu  ======*/


/*=======================================
=            Manifesto block            =
=======================================*/

#block-block-2 {
    max-width: 834px;
    text-align: center;
    margin: 20px auto 10px;
    display: block;
    padding: 100px 20px 20px;
    background: url(images/manifesto-logo.png) center top no-repeat;
}

/*=====  End of Manifesto block  ======*/
