// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// Mixins
@import 'mixins';

@futura: "futura-pt", "sans-serif";
@archer: "Archer SSm A", "Archer SSm B";

@orange: #be7900;
@black: #1e1e1e;
#caret {
    &:after {
        content: " \203a";
    }
}

.bbcaret {
    #caret;
}
/**
 * Place your custom styles here.
 */
 * {
    box-sizing: border-box;
}


@media (min-width: 768px) {
    .content {
        width: 100%;
    }
}

body {
    font-family: @archer;
    font-style: italic;
    font-weight: 500;
}


a {
    font-style: normal;
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: @orange;
    }
}

img {
    max-width: 100%;
}

h1.page-header {
    margin: 1em 0 1em 0;
}

/*----------  Subsection comment block  ----------*/
#toolbar div.toolbar-menu {
    margin-top: 20px;
}

/*=======================================
=            Global Styles            =
=======================================*/

header.navbar-inverse.navbar {
    background: #323232;
    margin-bottom: 0px;
    padding: 0 139px;

    ul.navbar-nav {
        float: right;
    }
}

#content {
    display: none;
}

.main-container {
    max-width: 1080px;
    padding: 0;
}
/*=====  End of Global Styles  ======*/


/*=======================================
=            Homepage Styles            =
=======================================*/

.hero-container {
    width: 100%;
    
}

/*=====  End of Homepage Styles  ======*/


/*====================================
=            Journal View            =
====================================*/
.view-journal {
    padding: 0 139px;

    .views-row {
        width: 49%;
        margin-bottom: 12px;
        float: left;
        overflow: hidden;

        img {
            width: 100%;
        }


        &.default {
            width: 49%;
        }

        &.wide {
            width: 100%;

            & .content-wrapper {
                height: 100%;
                width: 45%;
                right: -1000px;
                bottom: 0;
                &.active {
                    right: 0;
                }
            }
        }

        &.tall {
            width: 49%;

            .content-wrapper {
                height: 40%;
            }
            // height: 600px;
        }

        .content-wrapper {
            position: absolute;
            bottom: -1000px;
            color: @black;
            padding: 5px 50px;
            z-index: 1;
            height: 300px;
            text-align: center;
            width: 100%;

            &.active {
                bottom: 0;
                transition: .2s;
            }

            .views-field-title {
                padding: 30px 0 15px 0;
                margin: 0 0 15px 0;
                position: relative;

                    a {
                    color: #000;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: @futura;
                }
                &:after {
                    .line(40%, 0px);
                }
            }

            .views-field-field-page-link-cta {
                margin: 30px auto 0;

                a {
                    padding: 15px 20px;
                    background: #FFF;
                    color: #000;
                    text-transform: uppercase;
                    #caret;
                }
            }
            .opaque {
                width: 100%;
                height: 100%;
                background: #fff;
                opacity: .73;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index:-1;
            }

            @media (max-width: 768px) {
                position: relative;
                display: block;
                bottom: 0;
                padding: 10px;
                height: auto;
            }
        }


    }


    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-sizer {
        width: 49%;
    }

    .gutter-sizer {
        width: 2%;
    }

    .view-footer {
        text-align: center;

        a {
            .outline-button;
        }
    }

    @media (max-width: 768px) {
        padding: 0 20px;

        .views-row,
        .views-row.tall,
        .views-row.wide {
            width: 100%;
            overflow: visible;
        }
    }
}
/*=====  End of Journal View  ======*/

/*==========================================
=            Homepage Slideshow            =
==========================================*/

.view-homepage-banner {
    .views-row {
        position: relative;
    }

    .views-field-body {
        position: absolute;
        width: 100%;
        text-align: center;
        padding-top: 100px;
        top: 0;
        left: 0;
        color: #FFF;

        a {
            color: #FFF;
        }
    }

    img {
        margin: 0 auto;
        width: 100%;
    }
}

/*=====  End of Homepage Slideshow  ======*/


/*=====================================
=            Taxonomy menu            =
=====================================*/
#block-menu-block-1 {
    max-width: 834px;
    margin: 0 auto;
    padding: 0;

    ul.nav a {
        color: #979797;
        padding: 30px 35px 20px;
        &:hover {
            color: #be7900;
        }
    }
}

.menu-name-menu-page-types ul {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    li {
        display: inline-block;
    }
}

/*=====  End of Taxonomy menu  ======*/


/*=======================================
=            Manifesto block            =
=======================================*/

#block-block-2 {
    max-width: 834px;
    text-align: center;
    margin: 20px auto 10px;
    display: block;
    padding: 100px 20px 20px;
    background: url(images/manifesto-logo.png) center top no-repeat;
}

/*=====  End of Manifesto block  ======*/


/*=======================================
=            Homepage Blocks            =
=======================================*/

.homepage-block {
    min-height: 298px;
    background-size: 50%;
    background-repeat: no-repeat;
    text-align: center;
    &.right {
        padding-left: 50%;
        background-position: left top;
    }

    &.left {
        padding-right: 50%;
        background-position: right top;
    }

    &.winter-lookbook {
        background-image: url(images/winter-lookbook-block-bg.jpg);
        background-color: #f1f1f1;

        h2 {
            background: url(images/lookbook-icon.png) no-repeat top center;
            background-position-y: 35px;
            background-size: 25%;
        }
    }

    &.featured-products {
        background-image: url(images/featured-products-block-bg.jpg);
        background-color: #f1f1f1;

        h2 {
            background: url(images/featured-products-icon.png) no-repeat top center;
            background-position-y: 35px;
            background-size: 25%;
        }
    }

    &.our-transparency {
        background-image: url(images/transparency-block-bg.jpg);

        h2 {
            background: url(images/transparency-icon.png) no-repeat top center;
            background-position-y: 55px;
            background-size: 15%;
        }
    }

    h2 {
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 120px;
        display: block;
        padding-bottom: 1em;
        font-family: @futura;
        font-style: normal;
        font-weight: bold;

    }
    p {
        display: block;
    }

    h2, p {
        width: 280px;
        margin: 0 auto;
    }

    a {
        padding-top: 2em;
        display: block;
        color: #333;
        text-decoration: underline;
        text-transform: uppercase;
        #caret;
    }
}

/*=====  End of Homepage Blocks  ======*/

/*===========================================
=            Details page styles            =
===========================================*/

body.node-type-page {
    h1.page-header {
        font-size: 18px;
        padding: 35px 0 33px 0;
        border: 0;
        margin: 0 0 5px 0;
        font-family: @futura;
        font-style: normal;
        font-weight: bold;
        position: relative;


        &:after {
            .line(0, 15px);
        }
    }

    .group-top-portion {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -webkit-column-gap: 90px;
        -moz-column-gap: 90px;
        margin-bottom: 30px;


        .field-name-body p:first-child:first-letter {
            float: left;
            font-size: 42px;
            line-height: 33px;
            padding-top: 6px;
            padding-right: 4px;
            padding-left: 3px;
        }
    }

    .field-name-field-page-category {
        .field-item {
            display: inline-block;
            padding: 0 15px 20px 0;

            a {
                color: #d0d0d0;

                &:hover {
                    color: @orange;
                }
            }
        }
    }
}

/*=====  End of Details page styles  ======*/

/*=========================================
=            Details page view            =
=========================================*/

.view-details-products-and-pictures {
    .grid-sizer {
        width: 49%;
    }

    .gutter-sizer {
        width: 2%;
    }

    .views-row {
        width: 100%;
        margin-bottom: 12px;
        float: left;
        overflow: hidden;

        img {
            width: 100%;
        }


        &.default {
            width: 49%;
        }

        &.wide {
            width: 100%;
        }

        &.tall {
            width: 49%;
        }

        .views-field-title {
            display: none;
        }

        &.Product .views-field-title {
            display: block;

            a {
                color: #000;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                font-family: @futura;
            }
        }

        .content-wrapper {
            position: absolute;
            bottom: -1000px;
            color: @black;
            padding: 25px 20px;
            z-index: 1;
            height: 50%;
            width: 100%;
            font-style: normal;

            &.active {
                bottom: 0;
                transition: .2s;
            }
        }

        .views-field-body {
            width: 50%;
        }

        .views-field-sell-price {
            padding: 1em 0;
        }
        .opaque {
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: .73;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index:-1;
        }
    }
}


/*=====  End of Details page view  ======*/


/*====================================
=            Product Page            =
====================================*/

body.node-type-product {

    h1.page-header {
        font-family: @futura;
        font-size: 50px;
        width: 230px;
        border: 0;
        font-style: normal;
        font-weight: bold;
    }
    .group-product-left {
        width: 30%;
        margin-right: 3%;
        float: left;
    }

    .field-name-uc-product-image {
        width: 66%;
        float: left;
        position: relative;
        overflow: hidden;

        .field-items {
            width: 80%;
            margin: 0 auto;
        }
        .field-item {
            width: 100%;
        }
        .cyclers {
            position: absolute;
            top: 50%;
            z-index: 999;
            width: 100%;
            font-size: 50px;
            font-style: normal;

            .cycle-next {
                cursor: pointer;
                float: right;
                &:after {
                    content: '\02192';
                }
            }

            .cycle-prev {
                cursor: pointer;
                float: left;
                &:before {
                    content: '\02190';
                }
            }
        }
    }


    .display-price {
        float: none;
        clear: both;
        text-align: left;
        padding: 1em 0;
    }



    .add-to-cart {
        width: 100%;
        margin: 1em auto 0;

        input,
        select,
        button {
            display: block;
            width: 100%;
            padding: 10px 10px;
            margin: 0 0 20px 0;
            border-radius: 0px;
        }

        button {
            background: #ededed;
            color: @black;
            border: 0;
            padding: 15px 0;
            #caret;
        }
    }


    #block-views-factory-profiles-block {
        margin-top: 3em;

        h2.block-title {
            text-align: center;
            font-family: @futura;
            font-style: normal;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }

        .view-factory-profiles {

            .view-header {
                text-align: center;
                margin-bottom: 3em;
            }

            .views-field-title {
                font-family: @futura;
                font-style: normal;
                text-transform: uppercase;
                font-weight: bold;
            }

            .views-field-field-factory-profile-tags {
                margin-bottom: 1em;
                font-style: normal;
                text-transform: uppercase;
            }

            .views-field-field-profile-location {
                position: relative;
                padding-bottom: 1em;
                margin-bottom: 1em;
                &:after {
                    .line(0, 0);
                }
            }

            .view-footer {
                text-align: center;
                margin-bottom: 2em;
                
                a { 
                    .outline-button;
                }
            }
        }
    }

    #block-views-product-related-products-block {
        margin-top: 2em;
        h2.block-title {
            text-align: center;
            font-family: @futura;
            font-style: normal;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
        }

        .view-content {
            border-top: solid 1px #ebebeb;
            margin-top: 1em;
            padding-top: 1em;

            .views-row {
                margin: 0 auto;
            }
        }

    }

    .group-designer-block {
        position: relative;
        margin-top: 2em;

        .field-name-field-designer-overlay-text {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 45%;
            font-size: 60px;
            font-family: @futura;
            font-style: normal;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #FFF;
        }
    }
}

/*=====  End of Product Page  ======*/

/*==================================
=            Store Page            =
==================================*/
body.page-node-141 {
    h1.page-header {
        display: none;
    }
}

.view-store {
    margin-top: 2em;

    img {
        margin: 0 auto;
    }
    .views-field-title {
        text-transform: uppercase;
        text-align: center;
        color: @orange;
        font-family: @futura;
        font-style: normal;
        font-weight: bold;
    }

    #edit-taxonomy-catalog-tid-wrapper {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        .bef-select-as-links {
            text-align: center;

            .form-item .form-item {
                display: inline-block;
                padding: 0 50px;
                border-left: solid 1px #d6d6d6;
                a {
                    text-transform: uppercase;
                }
            }

            .form-item .form-item:first-child {
                border-left: none;
            }
        }

    }

    .views-submit-button,
    .views-reset-button {
        display: none;
    }
}



/*========================================
=            Maintenance Page            =
========================================*/

body.maintenance-page {
    background: url(images/ComingSoon.jpg) #2b383c no-repeat top left;
    background-size: cover;
    color: #FFF;
    text-align: center;
    padding-top: 350px;


    #container {
        width: 400px;
        margin: 0 auto;
    }

    h1.title {
        font-family: @futura;
        font-size: 50px;
        border: 0;
        font-style: normal;
        font-weight: bold;
    }
}

/*=====  End of Maintenance Page  ======*/

/*=====  End of Store Page  ======*/


footer.footer {

    .block {
        display: inline-block;
        padding-left: 15px;
        max-width: 240px;
        min-width: 18%;
        float: left;
    }

    h2.block-title {
        font-size: 18px;
        font-weight: bold;

    }

    .block:first-child h2.block-title {
        margin: 20px 0 10px;
    }

    ul.menu {
        li > a {
            margin: 0;
            padding: 0;
            color: #969696;
        }
    }
}


/*=====  End of Footer  ======*/

