// Bootstrap library.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

/**
 * Place your custom styles here.
 */

/*=======================================
=            Global Styles            =
=======================================*/

header.navbar-inverse.navbar {
    background: #323232;
    margin-bottom: 0px;
    padding: 0 139px;
}


.main-container {
    max-width: 1603px;
}
/*=====  End of Global Styles  ======*/


/*=======================================
=            Homepage Stylse            =
=======================================*/

.hero-container {
    width: 100%;
    max-height: 550px;
    overflow: hidden;
}

/*#block-nodeblock-125,
#block-nodeblock-124,
#block-nodeblock-123 {
    width: 50%;
    float:left;
}*/



/*=====  End of Homepage Stylse  ======*/
